@import url('http://fonts.cdnfonts.com/css/silkscreen');

body {
  height: 982px;
  width: 1920px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(239, 235, 220);
  font-family: 'VT323', monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.footer {
  position: absolute;
  bottom: 0px;

}

.main-container {
  background-color: darkred;
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 12px 8px rgba(0, 0, 0, 90%);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-weight: bold;
  font-size: 40px;
  background-color: crimson;
  height: 10%;
}

.active-area {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 90%;
  padding: 5px;
}

.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: silver;
}

.canvas {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: white;
  height: 500px;
  width: 500px;
  border: 5px solid black;
  border-radius: 5px;
}

.canvas-element {
  background-color: white;
  border: 1px solid lightgray;
}

.lower {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  background-color: crimson;
}

.colorpick {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.colorpickerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorpickdiv,
p {
  font-size: larger;
}

.sizepick {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sizepick button:hover {
  background-color: aquamarine;
  color: black;
  border-color: white;

}

.sizepick button:active {
  background-color: black;
  color: aquamarine;
  border-color: white;

}

button {
  font-family: 'VT323', monospace;
  font-size: larger;
  background-color: yellow;
  border-radius: 10px;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 2px black solid;
}

#black-button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

#black-button:active {
  background-color: white;
  color: black;
  border-color: black;
}

#eraser:hover {
  background-color: grey;
  color: white;
  border-color: black;
}

#eraser:active {
  background-color: white;
  color: grey;
  border-color: black;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  height: 20px;
  width: auto;

}
